#header {
    width: 100%;
    height: 85px;
    background: #1d68a796;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;
    box-shadow: 0px 2px 7px 0px #112d44;
    z-index: 100;

    .container {
        .items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            //align-self: flex-end;
            .rigth {
                display: flex;
                align-self: flex-end;

                .menu {
                    ul {
                        list-style: none;
                        display: inline-flex;

                        li {
                            margin-right: 20px;

                            a {
                                font-size: 16px;
                                text-transform: uppercase;
                                color: white;
                                text-decoration: none;

                                &:hover {
                                    color: $s-red;
                                }
                            }
                        }
                    }
                }

                .social {
                    display: flex;

                    .soc {
                        margin-right: 20px;
                        cursor: pointer;
                    }

                    .mail_head {
                        font-size: 18px;
                        color: white;
                    }
                }

                .burger {
                    display: none;
                }
            }

            .left {
                .img {
                    width: 140px;
                    height: auto;
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}

#video {
    position: relative;
    z-index: -1;
    max-height: 800px;
    height: 800px;

    .bg-video {
        position: relative;
        width: 100%;
        filter: brightness(0.5);

        video {
            width: 100%;
        }
    }

    .content {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        max-width: 60%;
        margin: 0 auto;
        text-align: center;
        justify-content: center;

        h1 {
            font-size: 66px;
            font-weight: 700;
            color: white;
        }

        .ex {
            max-width: 600px;
            justify-content: center;
            text-align: center;
            display: inline-block;
            margin-bottom: 50px;

            span {
                font-size: 18px;
                font-weight: 500;
                color: white;
            }
        }

        .act-btns {
            button {
                border: none;
                border-radius: 30px;
                padding: 10px 42px;
                font-size: 18px;
                font-weight: 700;
                color: white;
                background: $s-red;
                width: 270px;

                &:first-child {
                    margin-right: 80px;
                }
            }
        }

    }
}

#about-us {
    padding-top: 40px;
    padding-bottom: 40px;

    .container {
        display: grid;
        grid-template-columns: 0.6fr 1.4fr;

        .item:nth-child(1) {
            .title {
                text-align: center;
                justify-content: center;
                margin-bottom: 20px;

                span {
                    position: relative;
                    color: black;
                    font-size: 50px;
                    text-transform: uppercase;
                    font-weight: 700;

                    &::after {
                        content: "";
                        width: 100px;
                        height: 3px;
                        background: $s-blue;
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        margin: auto;
                    }
                }
            }

            .workers {
                margin-top: 20px;
                margin-bottom: 20px;

                span {
                    font-size: 24px;
                    color: $s-blue;
                    font-weight: 700;
                }

                .line {
                    margin-top: 10px;
                    width: 120px;
                    height: 2px;
                    padding: 1px;
                    background: $s-blue;
                }
            }

            .about {
                font-weight: 700;
                margin-bottom: 30px;
            }

            .btn-about {
                margin-bottom: 30px;

                button {
                    border: none;
                    border-radius: 30px;
                    padding: 5px 15px;
                    font-size: 14px;
                    font-weight: 700;
                    color: white;
                    background: $s-red;
                }
            }

            .timing {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                gap: 20px;

                .tim {
                    text-align: center;

                    .nr {
                        background: $s-blue;
                        border-radius: 100%;
                        width: 70px;
                        height: 70px;
                        text-align: center;
                        padding: 10px;
                        margin: 0 auto;

                        span {
                            color: white;
                            font-size: 32px;
                            font-weight: 700;

                        }
                    }

                    span {
                        font-weight: 700;
                    }
                }
            }
        }

        .item:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;
            padding: 50px 100px;

            .im {
                width: 150px;
                height: 150px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 100%;
                }
            }
        }
    }
}

#about-us-grid {
    padding-bottom: 40px;

    .container {
        .title {
            text-align: center;
            justify-content: center;
            margin-bottom: 20px;

            span {
                position: relative;
                color: black;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $s-blue;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }

        .items {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: ". . .";
            gap: 4px;

            .bue {
                background: $s-blue;
            }

            .item {
                position: relative;
                min-height: 180px;

                .blur {
                    &::after {
                        content: "";
                        /* opacity: 0.4; */
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #00000094;
                    }
                }

                .img {
                    width: 100%;
                    height: 194px;
                    background: $s-blue;

                    &:nth-child(4) {
                        background: $s-grey;
                    }

                    &:nth-child(9) {
                        background: $s-grey;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }


                .txt {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    padding: 60px 0;
                    max-width: 200px;
                    margin: auto;

                    .nr {
                        color: white;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .text {
                        color: white;
                        font-weight: 700;
                        font-size: 18px;
                    }

                    .txt__black {
                        color: black !important;
                    }

                }
            }
        }
    }
}

#how-it-works {
    .container {
        .title-pa {
            text-align: center;
            justify-content: center;
            margin-bottom: 20px;

            span {
                position: relative;
                color: black;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $s-blue;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }

        .text_area {
            background: #cacaca;
            padding: 30px;

            .title {
                margin-bottom: 20px;

                span {
                    font-size: 29px;
                    font-weight: 500;
                    line-height: 29px;
                    color: black;
                }
            }

            .desc {
                span {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 20px;
                    color: black;
                }
            }

            .steps {
                justify-content: center;
                margin-top: 60px;
                min-height: 140px;

                .progressbar {
                    counter-reset: step;
                }

                .progressbar li {
                    list-style-type: none;
                    width: 32%;
                    float: left;
                    font-size: 12px;
                    position: relative;
                    text-align: center;
                    text-transform: uppercase;
                    color: #7d7d7d;
                    z-index: 1;

                    .tit {
                        font-size: 18px;
                        font-weight: 700;
                        color: black;
                    }

                    .exp {
                        color: black;
                        font-size: 12px;
                    }
                }

                .progressbar li:before {
                    width: 30px;
                    height: 30px;
                    content: counter(step);
                    counter-increment: step;
                    line-height: 30px;
                    border: 2px solid $s-red;
                    display: block;
                    text-align: center;
                    margin: 0 auto 10px auto;
                    border-radius: 50%;
                    background-color: white;
                    z-index: 10;
                }

                .progressbar li:after {
                    width: 100%;
                    height: 2px;
                    content: '';
                    position: absolute;
                    background-color: $s-red;
                    top: 15px;
                    left: -46%;
                    z-index: -1;
                }

                .progressbar li:first-child:after {
                    content: none;
                }

                .progressbar li.active {
                    color: green;
                }

                .progressbar li.active:before {
                    border-color: #55b776;
                }

                .progressbar li.active + li:after {
                    background-color: #55b776;
                }
            }

            .work-btn {
                margin-top: 30px;
                text-align: center;

                button {
                    border: none;
                    border-radius: 30px;
                    padding: 10px 42px;
                    font-size: 18px;
                    font-weight: 700;
                    color: white;
                    background: $s-red;
                    width: 270px;
                }
            }
        }
    }
}

#gallery {
    margin-top: 40px;
    margin-bottom: 40px;

    .container {
        .title {
            text-align: center;
            justify-content: center;
            margin-bottom: 20px;

            span {
                position: relative;
                color: black;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $s-blue;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

#recenzii {
    .container {
        .title {
            text-align: center;
            justify-content: center;
            margin-bottom: 20px;

            span {
                position: relative;
                color: black;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $s-blue;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }
    }
}

#blog {
    margin-bottom: 40px;

    .container {
        .title {
            text-align: center;
            justify-content: center;
            margin-bottom: 60px;

            span {
                position: relative;
                color: black;
                font-size: 50px;
                text-transform: uppercase;
                font-weight: 700;

                &::after {
                    content: "";
                    width: 100px;
                    height: 3px;
                    background: $s-blue;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                }
            }
        }

        .items {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            grid-gap: 70px;

            .item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 45px;
                cursor: pointer;
                position: relative;
                padding: 10px;
                box-shadow: 0px 2px 3px 2px #78a4ca29;
                border-radius: 4px;

                &:hover {
                    .date {
                        position: absolute;
                        bottom: 3px;
                        left: 10px;
                        display: block;
                        line-height: 12px;
                        text-align: center;

                        .day {
                            color: $s-grey;
                            font-size: 40px;
                            font-weight: 800;
                            line-height: 0;
                        }

                        .month {
                            color: $s-grey;
                            font-size: 12px;
                            line-height: 0;
                        }
                    }

                }

                .date {
                    display: none;
                }

                .img {
                    //width: 100%;
                    //height: 100%;
                    transition: top;

                    position: absolute;
                    width: 250px;
                    height: auto;
                    top: -20px;
                    left: 15px;
                    box-shadow: 2px 2px 5px 0px #242a2fde;
                    border-radius: 4px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 4px;
                    }
                }

                .text {
                    align-self: center;

                    .desc {
                        font-size: 20px;
                        font-weight: 700;
                        color: #154566;
                        line-height: 18px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid;
                        margin-bottom: 10px;;
                    }
                }
            }
        }
    }
}

#map {

}

#footer {
    background: $s-blue;
    min-height: 300px;

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        padding: 60px 0;

        .logo {
            width: 150px;
            height: auto;
            align-self: flex-start;
            justify-content: center;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .work {
            align-self: flex-start;

            ul {
                list-style: none;

                .p {
                    font-size: 24px;
                    color: white;
                    font-weight: 700;
                }

                li {
                    color: white;
                }
            }

            .social {
                padding-left: 40px;
            }
        }

        .offices {
            align-self: flex-start;

            ul {
                list-style: none;

                .p {
                    font-size: 24px;
                    color: white;
                    font-weight: 700;
                }

                li {
                    color: white;
                }
            }
        }
    }
}

#blog_single {
    .main_image {
        width: 100%;
        height: 350px;
        position: relative;
        text-align: center;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: #151515;
            opacity: 0.6;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .title {
            position: absolute;
            top: 150px;
            left: 0;
            right: 0;
            margin: auto;
            color: white;
            font-weight: 700;
            font-size: 50px;
        }
    }

    .container, .post {
        position: relative;

        .act-share {
            background: white;
            width: 100%;
            padding: 40px 15px;

            .act {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;

                .share {
                    a {
                        text-decoration: none;
                        color: $s-grey;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }

                .date {
                    span {
                        font-size: 18px;
                        color: $s-grey;
                        font-weight: 700;
                    }
                }
            }

            .description {
                padding: 50px;
            }


        }
    }

    .another_posts {

    }
}

.country_select {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    color: #c0c4cc;
    border-color: #c0c4cc;
}
