<template>
<div>
    <el-carousel class="testimonial" :interval="4000" type="card">
        <el-carousel-item v-for="(item, index) in recenzies" :key="index">
           <div class="content">
               <div class="desc">
                    <span class="start">“</span><span class="description" v-html="item.description"></span>
               </div>
               <div class="img">
                   <img :src="item.image" alt="">
               </div>
               <div class="part">
                   <p class="name" v-html="item.name"></p>
                   <p class="position" v-html="item.pozitions"></p>
               </div>
           </div>
        </el-carousel-item>
    </el-carousel>
</div>
</template>

<script>
export default {
    name: "Recenzii",
    props: ['recenzies'],
}
</script>

<style lang="scss">
@import "resources/sass/variables";
.testimonial{
    .el-carousel__container{
        min-height: 480px !important;
        .el-carousel__item{
            border-bottom: 4px solid $s-blue;
            .content{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                padding: 35px 60px;

                .desc{
                    min-height: 200px;
                    line-height: 20px;

                    .start{
                        font-size: 40px;
                        font-weight: 800;
                    }

                    .description{

                    }
                }

                .img{
                    width: 200px;
                    height: auto;
                    border: 1px solid #e2e2e2;
                    margin-bottom: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        padding: 5px;
                    }
                }

                .part{
                    .name{
                        font-weight: 800;
                        margin-bottom: 5px !important;
                    }

                    .position{
                        margin-bottom: 5px !important;
                    }
                }
            }
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .el-carousel__item {
            transform: translateX(0px) scale(1) !important;
            width: 100% !important;
        }
    }
    @media only screen and (min-device-width: 420px) {
        .el-carousel__item {
            transform: translateX(0px) scale(1) !important;
            width: 100% !important;
        }
    }

}
</style>
