<template>
    <div>
        <el-carousel :interval="4000" type="card" height="200px">
            <el-carousel-item v-for="(post, i) in posts" :key="i">
                <div class="item">
                    <div class="left">
                        <div class="img">
                            <img :src="post.image" alt="">
                        </div>
                        <div class="date">
                            <span class="day">{{$moment(post.created_at).format('DD')}}</span><br>
                            <span class="month">{{$moment(post.created_at).format('MMM')}}</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="desc">{{ post.name }}</div>
                        <div class="content">{{ post.description ? post.description.substring(0,100)+'...' : ''}}</div>
                        <div class="read-more">
                            <a :href="'/blog/'+post.slug+'/'+post.id">Read More ></a>
                        </div>
                    </div>
                </div>
            </el-carousel-item>
        </el-carousel>
    </div>
</template>

<script>
export default {
    name: "SliderBlog",
    props: ['posts'],
}
</script>

<style lang="scss">
@import "resources/sass/variables";

.el-carousel {
    margin: 50px 0;

    .el-carousel__container {
        .el-carousel__item {
            box-shadow: 0px 2px 3px 2px #78a4ca29;
            background: white;

            .item {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 45px;
                cursor: pointer;
                position: relative;
                padding: 10px;
                //box-shadow: 0px 2px 3px 2px #78a4ca29;
                border-radius: 4px;

                &:hover {
                    .date {
                        position: absolute;
                        bottom: 3px;
                        left: 10px;
                        display: block;
                        line-height: 12px;
                        text-align: center;

                        .day {
                            color: $s-grey;
                            font-size: 40px;
                            font-weight: 800;
                            line-height: 0;
                        }

                        .month {
                            color: $s-grey;
                            font-size: 12px;
                            line-height: 0;
                        }
                    }

                }

                .date {
                    display: none;
                }

                .img {
                    //width: 100%;
                    //height: 100%;
                    transition: top;

                    position: absolute;
                    width: 250px;
                    height: auto;
                    top: -20px;
                    left: 15px;
                    box-shadow: 2px 2px 5px 0px #242a2fde;
                    border-radius: 4px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        border-radius: 4px;
                    }
                }

                .text {
                    align-self: center;

                    .desc {
                        font-size: 20px;
                        font-weight: 700;
                        color: #154566;
                        line-height: 18px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid;
                        margin-bottom: 10px;;
                    }
                }
            }
        }

        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            height: 335px !important;

            .el-carousel__item {
                .item {
                    grid-template-columns: 1fr;
                    height: fit-content;
                    &:hover{
                        .date{
                            top: 29px;
                            right: 10px;
                            left: auto;
                        }
                    }

                    .left {
                        min-height: 100px;

                        .img {
                            position: relative;
                        }
                    }
                }
            }
        }

        @media only screen and (min-device-width: 420px) {
            height: 335px !important;

            .el-carousel__item {
                .item {
                    grid-template-columns: 1fr;
                    height: fit-content;
                    &:hover{
                        .date{
                            top: 29px;
                            right: 10px;
                            left: auto;
                        }
                    }
                    .left {
                        min-height: 100px;

                        .img {
                            position: relative;
                        }
                    }
                }
            }
        }

    }
}

</style>
