<template>
    <div>
        <el-carousel :interval="4000" type="card" height="200px">
            <el-carousel-item :loop="false" type="card" v-for="(gallery, i) in galleries" :key="i">
                <img :src="gallery.image" alt="">
            </el-carousel-item>
        </el-carousel>
    </div>
</template>

<script>
export default {
    name: "Slider",
    props: ['galleries'],
}
</script>

<style lang="scss">

.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .el-carousel__item {
        transform: translateX(0px) scale(1) !important;
        width: 100% !important;
    }
}
@media only screen and (min-device-width: 420px) {
    .el-carousel__item {
        transform: translateX(0px) scale(1) !important;
        width: 100% !important;
    }
}
</style>
